.principal{

    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(16, 65, 44);
    border-radius: 10px;
    text-align: center;
}