/* Estilo para la tabla de usuarios */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }

.title {
  display: flex;  
  justify-content: space-around;
  align-items: center;
}
  
  /* Estilo para las celdas de encabezado */
  .user-table th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  /* Estilo para las filas pares */
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilo para las filas impares */
  .user-table tr:nth-child(odd) {
    background-color: #fff;
  }
  
  /* Estilo para las celdas de datos */
  .user-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  /* Estilo para los botones de eliminar */
  .edit-button {
    background-color: #0095ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Estilo para los botones de eliminar al pasar el cursor por encima */
  .delete-button:hover {
    background-color: #cc0000;
  }
  
  