.container-mesero-view{
    border: 2px solid #000;
    padding: 50px;
    background-color: #b0c2f2;
    border-radius: 50px;
}

.container-mesero-view #crear-venta, button{
    background-color: #84b6f4;
    padding: 2px;
    margin: 5px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

.container-mesero-view .btn-txt{
    margin: 10px;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    text-align: center;
}

.container-mesero-view h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}