.container-general{
    height: 100%;
    width: 900px;;
}

.container-divs-tables{
    display: flex;
}

.container-table-users{
    width: 400px;
}

.container-table-productos{
    width: 400px;
}

.container-ventas{
    width: 400px;
}

.container-crear-usuario{
    background-color: #8fa6e5;
    margin-bottom: 25px;
    padding: 20px;
    border: 2px solid #000000;
}

.container-crear-producto{
    background-color: #faf200;
    margin-bottom: 25px;
    padding: 20px;
    border: 2px solid #000;
}

.container-eliminar-usuario{
    background-color: #c1fe84;
    margin-bottom: 25px;
    padding: 20px;
    border: 2px solid #000;
}

.container-eliminar-producto{
    background-color: #f70f0f;
    margin-bottom: 25px;
    padding: 20px;
    border: 2px solid #000;
}

input{
    text-align: center;
    border-radius: 10px;
    height: 35px;
    width: 300px;
}

select{
    text-align: center;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}