table{
    text-align: left;
    width: 100%;
    margin: 20px;
    border-collapse: collapse;
}
th, td{
    padding: 20px;
}

thead{
    border-bottom: solid 2px;
}

#table-user thead{
    background-color: #49cab0;
}
#table-productos thead{
    background-color: #49cab0;
}
#ventas thead{
    background-color: #49cab0;
}

#table-productos tr:nth-child(even){
    background-color: #f2f8f7;
}
#table-user tr:nth-child(even){
    background-color: #758481;
}
#ventas tr:nth-child(even){
    background-color: #23c5f7;
}

#table-productos{
    background-color: #04aa89;
}

#table-user{
    background-color: #5fc283;
}

#ventas{
    background-color: #20a4cc;
}
